@media only screen and (max-width: 1024px) {

    .description_2{
        font-size: 16px;
        line-height: 22px;
        width: 47%;
    }
    .desc_block{
        width: 51%;

    }

}
@media only screen and (max-width: 992px) {
    .main_banner{
        padding-top: 301px;
    }
    .container{
        max-width: 930px;
    }
    header{
        padding-top: 37px;
    }
    header p{
        margin-left: 20px;
        font-size: 14px;
        line-height: 18px;
    }
    header ul{
        padding-top: 0;
    }
    header li{
        margin-left: 28px;
    }
    .position{
        top: 301px;
    }
    .position h1{
        font-size: 45px;
        line-height: 45px;
        margin-bottom: 25px;
    }
    .position p{
        font-size: 26px;
        line-height: 29px;
        margin-bottom: 55px;
    }
    .position .btn {
        padding-top: 19px;
        padding-bottom: 19px;
        font-size: 16px;
        line-height: 22px;
        margin-right: 30px;
    }
    .btn i{
        font-size: 18px;
    }
    .title {
        margin-top: 80px;
        font-size: 34px;
        line-height: 37px;
    }
    .description{
        width: 80%;
    }
    .brand_identity_banner{
        width: 80%;
    }
    .description p{
        font-size: 16px;
        line-height: 22px;
    }
    .subtitle {
        margin-top: 120px;
        font-size: 45px;
        line-height: 45px;
    }
    .list span{
        font-size: 45px;
        line-height: 45px;
    }
    .list p{
        font-size: 16px;
        line-height: 21px;
    }
    .list .set {
        font-size: 14px;
        line-height: 18px;
    }
    .container_3{
        max-width: 945px;
    }
    .title_2{
        font-size: 34px;
        line-height: 37px;
        margin-bottom: 16px;
    }
    .d_flex_2{
        flex-wrap: wrap;
    }
    .description_2{
        font-size: 16px;
        line-height: 22px;
        margin-right: 30px;
        padding-top: 48px;
        order: 2;
        width: 47%;
    }
    .desc_block{
        order: 1;
        width: 51%;

    }
    .guideline_banner{
        max-width: 530px;
    }
    .container_3{
        max-height: 930px;

    }
    .project_amp{
        margin-top: 120px;
    }
    .d_flex_project a {
        margin-top: 41px;
    }
    .d_flex_project h3 {
        font-size: 45px;
        line-height: 45px;
        margin: 45px 100px 1px 0;
    }
    .d_flex_project p {
        font-size: 16px;
        line-height: 22px;
        margin-bottom: 50px;
    }
    .guideline_banner{
        width: 50%;
    }
    .about_guideline {
        width: 47%;
    }
    .about_guideline p {
        font-size: 16px;
        line-height: 22px;
    }
    .guideline {
        padding: 14px 5px 13px 12px;
    }
    .about_guideline h3 {
        font-size: 20px;
        line-height: 22px;
        padding-bottom: 10px;
    }
    .about_guideline div {
        padding-left: 5px;
        padding-bottom: 0;
        padding-right: 14px;
    }
    .submit_application{
        margin-top: 87px;
    }
    .submit_application h3 {
        font-size: 34px;
        line-height: 37px;
        margin-bottom: 10px;
    }
    .submit_application p{
        font-size: 20px;
        line-height: 22px;
        margin-bottom: 24px;
    }
    .application_order_1{
        order: 1;
        margin-right: 30px;
    }
    .application_order_2{
        order: 2;
    }
    .application_order_3{
        order: 4;
        width: 100%;
        margin-top: 30px;
        margin-left: -30px;
    }
    .application_order_4{
        order: 3;
    }
    .first_name_phone{
        font-size: 16px;
        line-height: 22px;
        max-width: 450px;
    }
    .btn_application{
        font-size: 16px;
        line-height: 22px;
        padding-top: 19px;
        padding-bottom: 19px;
    }
    #i_agree{
        font-size: 16px;
        line-height: 22px;
    }
    .stages {
        font-size: 45px;
        line-height: 45px;
    }
    .item_1{
        margin-right: 80px;
    }
    .item_2{
        margin-right: 44px;
    }
    .item_3{
        margin-right: 74px;
    }
    .flex_container h4 {
        font-size: 20px;
        line-height: 22px;
        margin-top: 26px;
    }
    .flex_container h5{
        font-size: 16px;
        line-height: 22px;
        margin-bottom: 18px;
    }
    .flex_container p{
        font-size: 14px;
        line-height: 18px;
    }
    .stages_2 {
        margin-top: 120px;
        margin-bottom: 100px;
    }
    .block_1{
        font-size: 20px;
        line-height: 22px;
        margin-right: 29px;
    }
    .caption{
        font-size: 34px;
        line-height: 37px;
    }
    .caption_2{
        font-size: 34px;
        line-height: 37px;
    }
    .content{
        font-size: 14px;
        line-height: 18px;
    }
    .minor_banner{
        padding-top: 97px;
        padding-bottom: 60px;
        height: auto;
    }
    .minor_banner h2 {
        font-size: 45px;
        line-height: 45px;
    }
    .list_2 p{
        font-size: 14px;
        line-height: 18px;
        max-width: 141px;
    }
    footer {
        padding-top: 100px;
    }
    .connect h3{
        font-size: 34px;
        line-height: 37px;
        margin-bottom: 31px;
    }
    .contact {
        margin-left: 63px;
    }
    .headline{
        font-size: 34px;
        line-height: 37px;
        margin-bottom: 35px;
    }
    .first_name_phone_2{
        max-width: 370px;
        font-size: 16px;
        line-height: 22px;
    }
    .contact p{
        font-size: 20px;
        line-height: 22px;
    }
    #i_agree_1{
        font-size: 16px;
        line-height: 22px;
    }
    .checkbox_label{
        margin-top: 10px;
    }
    footer button {
        margin-top: 30px;
        margin-bottom: 120px;
    }
    .headline_2{
        font-size: 34px;
        line-height: 37px;
        margin-bottom: 31px;
    }
    .media div{
        max-width: 210px;
        font-size: 16px;
        line-height: 22px;
    }
    .free{
        margin-top: 30px;
        font-size: 16px;
        line-height: 22px;
    }



}
@media only screen and (max-width: 768px) {
    .main_banner {
        background-image: url("../images/Rectangle52.jpg");
    }
    .container {
        max-width: 690px;
    }
    header li span{
        display: none;
    }
    header ul{
        flex-wrap: wrap;
        flex-direction: column;
    }
    header p{
        font-size: 14px;
        line-height: 18px;
    }
    header {
        padding-top: 28px;
    }
    .position {
        top: 307px;
    }
    .position p {
        margin-bottom: 78px;
    }
    .flex_btn {
        display: flex;
        flex-direction: column;
    }
    .position .btn {
        max-width: 212px;
        margin-right: 0;
        margin-bottom: 42px;
        box-sizing: border-box;
        padding-right: 46px;
    }
    .btn i {
        display: none;
    }
    .title {
        margin-top: 100px;
    }
    .description {
        width: 70%;
        margin-left: 0;
        margin-top: 30px;
    }
    .brand_identity_banner {
        width: 70%;
    }
    .container_2 {
        max-width: 642px;
    }
    .list {
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .list span {
        margin-top: 42px;
    }
    .list p {
        margin-top: 42px;
        max-width: 140px;
    }
    .list .set {
        margin-top: 14px;
    }
    .container_3 {
        max-width: 700px;
    }
    .d_flex_2 {
        flex-wrap: wrap;
    }
    .desc_block {
        width: 100%;
    }
    .description_2 {
        width: 80%;
        padding-top: 0;
        margin-right: 0;
        margin-top: 25px;
    }
    .project_amp {
        margin-top: 100px;
    }
    .d_flex_project a {
        margin-top: 25px;
    }
    .d_flex_project h3 {
        margin: 30px 70px 10px 0;
    }
    .d_flex_guideline {
        flex-wrap: wrap;
    }
    .d_flex_guideline.project_banner {
        width: 60%;
    }
    .guideline_banner {
        width: 60%;
    }
    .about_guideline {
        width: 65%;
    }
    .guideline_banner_1 {
        display: none;
    }
    .guideline_banner_2 {
        display: block;
    }
    .about_guideline {
        margin-top: 15px;
    }
    #first_name {
        margin-right: 0;
        margin-bottom: 20px;
    }
    .item_1 {
        margin-right: 480px;
        margin-bottom: 18px;
    }
    .flex_block {
        flex-wrap: wrap;
    }
    .block_1 {
        width: 100%;
        margin: 0;
        padding-top: 1px;
        padding-bottom: 1px;
    }
    .block_1_1 {
        display: none;
    }
    .block_2 {
        width: 28%;
    }
    .block_3 {
        width: 28%;
    }
    .block_4 {
        width: 28%;
    }
    .minor_banner {
        padding-top: 32px;
        padding-bottom: 21px;
        height: auto;
    }
    .d_flex_contact{
        flex-wrap: wrap;
    }
    footer button{
        margin-bottom: 0;
    }
    .contact{
        margin-left: 0;
        margin-top: 60px;
    }
    .headline_2{
        margin-top: 105px;
    }
    .media{
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    .media div {
        width: 40%;
        margin-right: 20px;
        margin-bottom: 30px;
    }
    .first_name_phone_2 {
        padding: 18px 196px 20px 21px;
    }

}



@media only screen and (max-width: 576px) {
    .container{
        max-width: 510px;
    }
    header p{
        font-size: 12px;
        line-height: 15px;
    }
    .position{
        top: 148px;
    }
    .position h1{
        font-size: 30px;
        line-height: 33px;
    }
    .position p{
        font-size: 20px;
        line-height: 22px;
    }
    .position .btn{
        font-size: 15px;
        line-height: 21px;
    }
    .description{
        width: 80%;
    }
    .brand_identity_banner{
        width: 100%;
    }
    .subtitle{
        font-size: 35px;
        line-height: 35px;
    }
    .list{
        flex-direction: column;
    }
    .list p {
        font-size: 15px;
        line-height: 21px;
        max-width: 165px;
    }

    .list span {
        font-size: 35px;
        line-height: 35px;
        margin-right: 68px;
    }
    .list .set{
        font-size: 12px;
        line-height: 16px;
    }
    .d_flex_project h3{
        font-size: 35px;
        line-height: 35px;
        margin-top: 15px;
    }
    .d_flex_project a{
        padding: 12px 47px;
        margin-top: 20px;
        margin-bottom: 50px;
    }
    .d_flex_project p{
        margin-bottom: 0;

    }
    .d_flex_project{
        justify-content: space-between;

    }
    .guideline_banner{
        width: 100%;
    }
    .about_guideline {
        width: 80%;
    }
    .about_guideline p{
        font-size: 15px;
        line-height: 21px;
    }
    .about_guideline h3{
        font-size: 15px;
        line-height: 21px;
    }
    .title_2{
        font-size: 32px;
        line-height: 35px;
    }
    .first_name_phone{
        width: 380px;
        padding: 21px 215px 18px 21px;
        font-size: 15px;
        line-height: 21px;
    }
    .submit_application h3{
        font-size: 32px;
        line-height: 35px;
    }
    .btn_application{
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .flex_container p{
        font-size: 12px;
        line-height: 15px;
    }
    .item_2, .item_3, .item_4{
        max-width: 151px;
    }
    .flex_container h5{
        font-size: 12px;
        line-height: 15px;
    }
    .flex_block{
        display: none;
    }
    .minor_banner{
        display: none;
    }
    .media{
        justify-content: space-between;
        align-items: stretch;
        margin: auto;
    }
    .media div {
        width: 50%;
        margin-right: 0;
        font-size: 15px;
        line-height: 21px;
    }
    .first_name_phone_2 {
        padding: 21px 215px 18px 21px;
        max-width: 450px;
    }
    .nav__list-item {
        font-size: 35px;
    }




}

@media only screen and (max-width: 360px) {
    .container {
        max-width: 290px;
    }
    header p{
        line-height: 13px;
    }
    .position{
        top: 145px;
    }
    .position .btn{
        margin-bottom: 20px;
    }
    .description {
        width: 100%;
    }
    .list span {
        margin-right: 58px;
    }
    .d_flex_project {
        flex-direction: column;
    }
    .d_flex_project p {
        margin-bottom: 0;
    }
    .d_flex_project a {
        margin-bottom: 60px;
    }
    .about_guideline {
        width: 100%;
    }
    .first_name_phone {
        width: 290px;
        padding-right: 123px;
    }
    .flex_container h5 {
        font-size: 15px;
        line-height: 21px;
    }
    .media div {
        width: 100%;
        max-width: 290px;
    }
    .first_name_phone_2 {
        max-width: 290px;
    }
}



